<div class="filters">
    <label>Sort by:
      <select [(ngModel)]="sortBy" (change)="onSortChange()">
        <option value="points">Points</option>
        <option value="goals">Goals</option>
        <option value="assists">Assists</option>
      </select>
    </label>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of players">
        <td>{{ p.name }}</td>
        <td>{{ p.team }}</td>
        <td>{{ p.goals }}</td>
        <td>{{ p.assists }}</td>
        <td>{{ p.points }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
    <span>Page {{ page }}</span>
    <button (click)="nextPage()">Next</button>
  </div>
  